html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    padding: 20px 120px;
}

.api-list-panel, .code-preview-panel {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-right: 50px;
}

.api-list-panel {
    padding: 24px;
}

.code-preview-panel {
    padding: 0 12px;
}

pre[class*="language-"] {
    border: none;
}

.api-tree-node {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.api-tree-node .node-label {
    display: flex;
    align-items: center;
}

.api-tree-node .node-method {
    color: #fff;
    background-color: #191919;
    padding: 0 2px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    font-size: 12px;
    min-width: 60px;
    text-align: center;
}

.api-tree-node .node-method.node-method-get {
    background-color: #0f6ab4;
}
.api-tree-node .node-method.node-method-post {
    background-color: #10a54a;
}
.api-tree-node .node-method.node-method-put {
    background-color: #c5862b;
}
.api-tree-node .node-method.node-method-delete {
    background-color: #a41e22;
}
.api-tree-node .node-method.node-method-head {
    background-color: #ffd20f;
}
.api-tree-node .node-method.node-method-options {
    background-color: #0f6ab4;
}
.api-tree-node .node-method.node-method-patch {
    background-color: #D38042;
}

.api-tree-node .node-description {
    color: #495060;
    font-size: 14px;
}
